
body {
  line-height: 1.5;
}


.head {
  background-color: red;
  text-align: center;
  height: 85px;

}

.a1 {
  background-color: blue;
  float: left;
  width: 30%;

  margin-top: 45px;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 30px;
}

.a2 {
  background-color: gray;
  float: left;
  width: 30%;

  margin-top: 45px;
  margin-bottom: 30px;
}

.a3 {
  background: green;
  float: left;
  width: 30%;
  margin-top: 45px;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 30px;
}

.foot {
  background-color: orange;
  text-align: center;
  clear: both;
  height: 60px;
  position: fixed;
  top: 95%;
}
