
body {
  line-height: 1.5;
}



.a {
  position: relative;
  display: inline-block;
}

.b {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 70px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 0px;
  margin-top: 33px;
  line-height: 2.0;

}

.b a {
  text-decoration: none;
  color: black;

}

.a:hover .b {
  display: block;
}

.b a:hover {
  background-color: #f1f1f1;
}

a {
  text-decoration: none;
  padding: 10px;
  color: #eee

}

.content {
  background: #454545;
}
.clear-float:after,
.clear-float:before {
  content: " ";
  display: block;
  clear:both;
}



.lt {
  float: left;
}

.content .a .rt {
  float: right;
}


h1 {
  font-weight: 800;
  text-align: center;
}

h2 {
  text-align: center;
}

.buju {
  background: blue;

}

p {
  float: left;
  width: 20%;
  padding-left: 95px;
}



.footer  {
  background: red;
  clear: both;
  width: 200px;
  height: 100px;
  text-align: center;
  position: fixed;
  margin-left: 1600px;
  margin-top: 700px;


}
